*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    color: black;
}

h2{color: rgb(92, 182, 3)}

header{
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #B5E550;
}

header button{
    padding: 9px 15px;
    background-color: rgb(92, 182, 3);
    border: none;
    border-radius: 20px;
}

header h1{
    font-family: 'Indie Flower', cursive;
}

.logo{
    width: 60px;
    margin: 10px;
    cursor: pointer;
}

.material-icons-outlined{
    vertical-align: middle;
}

.inline li{
    display: inline-block;
    padding: 10px;
}

.products_display img{
    width: 200px;
}

.content{
    padding: 30px;
}

.login{
    width: 33vw; margin: 20px auto;
    border: 3px solid #B5E550;
}

form{
    padding: 10px; font-size: medium;
}

.vazio{
    color: red;
}

.manage_button{
    padding: 9px 15px;
    background-color: rgb(92, 182, 3);
    border: none;
    border-radius: 20px;
    margin: 5px 0px 5px 0px;
    width: 300px;
}