*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    color: black;
}

h2{color: rgb(92, 182, 3)}

header{
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #B5E550;
}

header button{
    padding: 9px 15px;
    background-color: rgb(92, 182, 3);
    border: none;
    border-radius: 20px;
}

header h1{
    font-family: 'Indie Flower', cursive;
}

a{
    text-decoration: none;
}

.logo{
    width: 60px;
    margin: 10px;
    cursor: pointer;
}

.material-icons-outlined{
    vertical-align: middle;
}

.inline li{
    display: inline-block;
    padding: 10px;
}

.products_display img{
    width: 200px;
}

.content{
    padding: 30px;
}

.login{
    width: 33vw; margin: 20px auto;
    border: 3px solid #B5E550;
    border-radius: 10px;
}

.dados{
    width: 45vw; 
    float: left;
}

.pedidos{
    width: 45vw;
    float: right;
}

.dados li{
    display: block;
    padding: 5px;
    border: 3px solid #B5E550;
    border-radius: 10px;
    background-color: #c1eb66;
}

.pedidos ul li{
    display: block;
    border: 3px solid #B5E550;
    border-radius: 10px;
    padding: 5px;
}

login form{
    padding: 10px; font-size: medium;
}

button{
    padding: 9px 15px;
    margin: 10px 10px 10px 0;
    background-color: rgb(92, 182, 3);
    border: none;
    border-radius: 10px;
}
.vazio{
    color: red;
}

.manage_button{
    padding: 9px 15px;
    background-color: rgb(92, 182, 3);
    border: none;
    border-radius: 20px;
    margin: 5px 0px 5px 0px;
    width: 300px;

}

.admin_option img{
    width: 300px;
    height: 300px;
}

.admin_selectable li{
    display: inline-block;
    padding: 10px;
}

.admin_selectable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(230, 227, 227);
    box-shadow: 1px 1px 1px 1px rgb(230, 227, 227);
}

.center {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

form div{
    display: inline;
}